<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="Content-Security-Policy" content="default-src *; script-src 'self' 'unsafe-inline' 'unsafe-eval' *; style-src  'self' 'unsafe-inline' *"/>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width"/>
        <title></title>
 
        <link href="lib/ionic/css/ionic.css" rel="stylesheet"/>
        <link href="css/style.css" rel="stylesheet"/>
        <link rel="stylesheet" href="css/styles1.css">
 
        <!-- ionic/angularjs js -->
        <script src="lib/ionic/js/ionic.bundle.js"></script>
 
        <!-- cordova script (this will be a 404 during development) -->
            <script src="cordova.js"></script>
	<script src="lib/ng-cordova-master/ng-cordova-master/dist/ng-cordova.js"> </script>
        
 
        <!-- your app's js -->
        <script src="js/app1.js"></script>
    </head>
    <body>
 
    <ion-pane ng-controller="chgPasswordCtrl">
      <ion-header-bar class="bar bar-header bar-dark">
        <h1 class="title">FaceComm</h1>
      </ion-header-bar>
      <ion-content class="padding">
          <h2>Change Password</h2>
          <label class="item item-input">
              <span class="input-label">Username</span>
              <input type="text" ng-model="username" placeholder="Username">
          </label>
          <label class="item item-input">
              <span class="input-label">Old Password</span>
              <input type="password" ng-model="oldpassword" placeholder="OldPassword">
          </label>
          <label class="item item-input">
              <span class="input-label">New Password</span>
              <input type="password" ng-model="newpass" placeholder="NewPassword">
          </label>
          <label class="item item-input">
              <span class="input-label">Repeat Password</span>
              <input type="password" ng-model="newpass2" placeholder="NewPassword">
          </label>
          <a id="btn" class="button button-block button-dark" ng-click="changePword(username, oldpassword, newpass, newpass2)">Change password</a>
          <a href="index.html" class="button button-block button-dark">Re-Login</a>
          
      </ion-content>
    </ion-pane>
 
    </body>
</html>